/* config starts */
/* Set up Font for old browsers */
@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: Inter;
    src: url("/assets/fonts/static/Inter-Regular.ttf");
    font-weight: normal;
  }
  @font-face {
    font-family: Inter;
    src: url("/assets/fonts/static/Inter-Bold.ttf");
    font-weight: bold;
  }
  @font-face {
    font-family: Inter;
    src: url("/assets/fonts/static/Inter-ExtraBold.ttf");
    font-weight: extra-bold;
  }
  body {
    font-family: Inter;
  }
}
/* Set up Inter for modern browsers, all weights */
@supports (font-variation-settings: normal) {
  @font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("woff2 supports variations"), url("/assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("woff2-variations");
    font-weight: 100 900;
    font-stretch: 25% 151%;
  }
  .super-bold {
    font-weight: 1000;
  }
}
:root {
  --color-primary-soft-orange: hsl(35, 77%, 62%);
  --color-primary-soft-red: hsl(5, 85%, 63%);
  --color-neutral-off-white: hsl(36, 100%, 99%);
  --color-neutral-grayish-blue: hsl(233, 8%, 79%);
  --color-neutral-dark-grayish-blue: hsl(236, 13%, 42%);
  --color-neutral-dark-blue: hsl(240, 100%, 5%);
}

/* reset start */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li,
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

a,
li,
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  min-height: 100vh;
}

/* reset end */
/* header style start */
.stop-scrolling {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

header {
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.navbar .mobile-menu-toggler .navbar__hamburger__input {
  display: none;
}
.navbar .mobile-menu-toggler .navbar__hamburger__input:checked ~ .links {
  display: flex;
  flex-direction: column;
}
.navbar .mobile-menu-toggler .navbar__hamburger__input:checked ~ .links-empty {
  display: inline;
}
.navbar .mobile-menu-toggler .navbar__hamburger__input:checked ~ .navbar__hamburger__label > :nth-child(2) {
  opacity: 0;
}
.navbar .mobile-menu-toggler .navbar__hamburger__input:checked ~ .navbar__hamburger__label > :nth-child(1) {
  transform: translateY(8px) rotate(-45deg);
}
.navbar .mobile-menu-toggler .navbar__hamburger__input:checked ~ .navbar__hamburger__label > :nth-child(3) {
  transform: translateY(-8px) rotate(45deg);
}
.navbar .mobile-menu-toggler .navbar__hamburger__label {
  position: relative;
  z-index: 10;
}
@media (min-width: 700px) {
  .navbar .mobile-menu-toggler .navbar__hamburger__label {
    display: none;
  }
}
.navbar .mobile-menu-toggler .navbar__hamburger__label__bar {
  display: block;
  width: 35px;
  height: 3px;
  margin: 5px auto;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  background-color: black;
}
.navbar .mobile-menu-toggler .links-empty {
  position: absolute;
  display: none;
  width: 35%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--color-neutral-dark-grayish-blue);
  opacity: 0.6;
}
.navbar .links {
  color: var(--color-neutral-dark-grayish-blue);
  position: absolute;
  display: none;
  background: white;
  color: black;
  left: 35%;
  z-index: 5;
  width: 100%;
  height: 100%;
  max-width: 65vw;
  max-height: 100vh;
  padding-top: 1.5rem;
}
@media (min-width: 700px) {
  .navbar .links {
    position: static;
    display: flex;
    max-width: 100%;
  }
}
.navbar .links a {
  padding: 1rem;
  font-size: 1.25rem;
}
@media (min-width: 700px) {
  .navbar .links a {
    padding: 0 1rem;
  }
}
.navbar .links a:hover {
  color: var(--color-primary-soft-red);
}

/* header style end */
/* main styles start */
.container {
  max-width: 1100px;
  padding: 1.5rem 1rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .lead-article {
  grid-area: lead-article;
  padding-bottom: 2rem;
}
main .lead-article picture {
  padding-bottom: 1.5rem;
}
main .lead-article picture source,
main .lead-article picture img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .lead-article h1 {
  font-size: 3rem;
}
main .lead-article p {
  font-weight: 300;
}
main .lead-article button {
  margin: 1rem 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 0.75em 2.5em;
  background-color: var(--color-primary-soft-red);
  color: var(--color-neutral-off-white);
  border: none;
}
main .lead-article button:hover {
  background-color: var(--color-neutral-dark-blue);
}
main .new-articles {
  grid-area: new-articles;
  background-color: var(--color-neutral-dark-blue);
  padding: 1rem;
  margin-bottom: 2rem;
}
main .new-articles article {
  padding: 1rem 0;
}
main .new-articles h2 {
  color: var(--color-primary-soft-orange);
  font-size: 2rem;
  padding-bottom: 1rem;
  font-weight: 600;
}
main .new-articles .title {
  color: var(--color-neutral-off-white);
  font-weight: bold;
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
  cursor: pointer;
}
main .new-articles .title:hover {
  color: var(--color-primary-soft-orange);
}
main .new-articles .desc {
  color: var(--color-neutral-grayish-blue);
  font-weight: 300;
  border-bottom: 1px solid var(--color-neutral-dark-grayish-blue);
  padding-bottom: 2rem;
}
main .new-articles .last {
  border-bottom: none;
  padding-bottom: 1rem;
}
@media (min-width: 850px) {
  main {
    display: grid;
    gap: 1rem;
    grid-template-areas: "lead-article lead-article new-articles" "top-articles top-articles top-articles";
  }
}

.top-articles {
  grid-area: top-articles;
  padding: 0.75rem 0;
}
@media (min-width: 850px) {
  .top-articles {
    display: flex;
    justify-content: center;
  }
}
.top-articles article {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
}
.top-articles article .img img {
  max-width: 100px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.top-articles article .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-articles article .no {
  color: var(--color-neutral-grayish-blue);
  font-size: 2rem;
  font-weight: 600;
}
.top-articles article .title {
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}
.top-articles article .title:hover {
  color: var(--color-primary-soft-red);
}
.top-articles article .desc {
  font-weight: 300;
  color: var(--color-neutral-dark-grayish-blue);
}

/* main styles end */
/* footer styles start */
footer {
  text-align: center;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/* footer styles end */